.about{
    font-family: "Urbanist", sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    & h2{
        margin-top: 8rem;
        margin-bottom: 2rem;
        text-align: start;
        font: 500 40px "Urbanist", sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
}
.container-about{
    display: grid;
    grid-template-columns: auto auto ;
    align-content: center;
    gap: 40px;
    background-color: rgba(12, 12, 12, 0.6);
    padding: 2rem;
    border-radius: 15px;
   
}
@media screen and (max-width: 1109px) {
    .container-about{
        grid-template-columns: auto;
    }
}
.item-about{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 23px;
    border-radius: 20px;
}
@media screen and (max-width: 482px) {
    .item-about{
        flex-direction: column;
    }   
}
.item-about:hover{
    background-image: linear-gradient(to right,rgba(178, 190, 194, 0.42),
                                                    rgba(255, 255, 255, 0));
}
.icon-about{
    padding: 2rem ;
    font-size: 3rem;
    color: #b336ff;
    display: inline-block;
}

.content-about{
    padding: 1rem;
    & p{
        font-size: 20px;
    }
}
@media screen and (max-width: 420px) {
    .content-about{
        & h3{
            font-size: 1.5rem;
        }
        & p{
            font-size: 0.9rem !important;
        }
    }
    .about{
        & h2{
            text-align: center;
            font-size: 35px;
        }
    }
}
@media screen and (max-width: 458px) {
    .content-about{
        & h3{
            text-align: center;
            /* font-size: 2rem; */
        }
        & p{
            text-align: center;
            font-size: 18px;
        }
    }
    .icon-about{
        padding: 2rem 2rem 0 2rem;
    }
    
}
