.expertise{
    font-family: "Urbanist", sans-serif;
    width: 80%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    & h2{
        margin-top: 8rem;
        margin-bottom: 1rem;
        text-align: start;
        font: 500 40px "Urbanist", sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}
.container-expertise{
    display: grid;
    grid-template-columns: auto auto ;
    align-content: center;
    gap: 40px;
    background-color: rgba(12, 12, 12, 0.6);
    padding: 2rem;
    border-radius: 15px;  
}

.content-box-expertise{
    margin: 0 auto;
}
.item-expertise{
  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 23px;
    border-radius: 20px;
}



.item-expertise:hover{
    background-image: linear-gradient(to right,rgba(178, 190, 194, 0.42),
                                                    rgba(255, 255, 255, 0));
}
.icon-expertise{
    padding: 2rem 2rem 2rem 2rem ;
    font-size: 3rem;
    color: #b336ff;
    display: inline-block;
}

.content-expertise{
    padding: 1rem;
}

.logo-box-expertise{
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    margin-top: 2rem;

}
.logo-item-expertise{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & p{
        color: #FFFFFF;
        margin-left: 1rem;
        font-weight: 700;
    }
}
.logo-expertise{
    padding: 1rem;
    background-color: #f9f9f94e;
    margin-left: 1rem;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width: 420px){
    .logo-expertise{
        width: 90px;
        height: 90px;
        & img{
            height: 50px;
        }
    }
    .expertise{
        h2{
            text-align: center;
            font-size: 35px;
        }
    }
    .logo-item-expertise{
        & p{
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 631px) {
    .item-expertise{
        flex-direction: column;
    }
    .content-about{
        text-align: center;
    }
    .content-about{
        padding: 0 1rem 1rem 1rem;
        
    }
    .icon-expertise{
        /* padding: 2rem 2rem 0 2rem !important; */
        padding: 2rem 2rem 0 2rem ;
    }
    .logo-box-expertise{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 1108px) {
    .container-expertise{
        grid-template-columns: auto;
    }   
}