*{
    /* background-image: linear-gradient(to bottom, #000000,#000000c2); */
    box-sizing: border-box;
    /* margin: 0;padding: 0; */
    
}
.dark-theme{
    /* --nav-bg-color: #000000; */
    --nav-bg-color: #e6e6e6;
    --text-color: #FFFFFF;
    --heading-color: #b336ff;
    --btn-bg-color: #000000;
    --bg-gradient-first-color: #000000;
    --bg-gradient-second-color: #000000f5;
    --bg-gradient-third-color: #323232d0;  
    --footer-bg-color: #00000029;
}
.light-theme{
    --nav-bg-color: #cacaca82;
    --text-color: #000000;
    --heading-color: #b336ff;
    --btn-bg-color: #FFFFFF;
    --bg-gradient-first-color: #D9D9D9;
    --bg-gradient-second-color: #4545459a;   
    --bg-gradient-third-color: #000000b6;
    --footer-bg-color: #FFFFFF;



    /* --bg-gradient-first-color:  */
}
.main-box{
    max-width: 1600px;
    background-image: linear-gradient(to bottom, var(--bg-gradient-first-color) ,var(--bg-gradient-second-color),var(--bg-gradient-third-color));
    
    /* height: ; */
}
@media only screen and (max-width: 434px) {
    .main-box{
        width: 100%;
    }   
}
h1{
    margin: 0;
}
